.env
*.env
.env.*
!.env.example
!*.env.example
.cache/
**/.cache/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.log
*.err.log
*.out.log
backend/rag/server.err.log
backend/rag/server.out.log
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
./law-crawler/.gitignore
node_modules/
**/node_modules/
./backend/law-service/.gitignore
./backend/auth-service/.gitignore
./backend/rag/.gitignore
auth-sql/
law-sql/
qna-sql/
**/auth-sql/
**/law-sql/
**/qna-sql/
backend/rag/corpus/*.csv
backend/rag/chroma_db_law/
backend/rag/qna-sql/
backend/law-service/law-sql/
.venv
.venv/
**/.venv/
venv/
**/venv/
backend/graph/neo4j/data/
backend/graph/neo4j/logs/
backend/graph/neo4j/import/
backend/graph/neo4j/plugins/
law-crawler/phap-dien/
backend/rag/graph_rag_data/indexes/
